body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#user-photo-container {
  text-align: center;
}

#user-photo-container img {
  width: 50%;
}

.panel {
  width: 400px;
  margin: 0 auto;
}

.panel-title {
  text-align: center;
}

.panel.footer {
  margin-top: 10px;
}

.panel.footer .col-sm-6 {
  padding: 0;
}

.form-control-static {
  text-align: center;
}

.form-group:last-child {
  margin-bottom: 0;
}

.help-block {
  margin-bottom: 0;
}